<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG MBTI - 로그인</title>
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}?v=3">
</head>

<body class="auth-body">
    <!-- TODO: [최현욱] Frame 1 와이어프레임에 맞춘 UI/UX 퍼블리싱 -->
    <!-- 아이디 입력(input), 비밀번호 입력(input), 로그인 버튼(button), 회원가입 링크(a) -->
    <main>
        <section>
            <div class="auth-wrapper">
                <div class="auth-top-header">
                    <p class="auth-subtitle">당신의 영혼에 깃든 RPG 직업은?</p>
                </div>
                <div class="auth-main-logo">
                    <img src="{{ url_for('static', filename='images/main-logo.png') }}" alt="게임 로고">
                </div>
                <form class="auth-card reveal is-visible" id="login-form">
                    <div class="auth-header">
                        <h2 class="auth-title">모험을 시작하기 위해<br>당신의 신분을 증명하세요.</h2>
                    </div>
                    <input type="text" name="username" placeholder="RPG@mbti.com" autofocus="" class="auth-input"
                        value="">
                    <input type="password" name="password" placeholder="Password" class="auth-input" value="">
                    <button type="submit" class="auth-submit">
                        여관&nbsp;<span class="another-color">입장하기</span>
                    </button>
                    <div class="auth-footer">
                        <span>아직 길드에 가입하지 않으셨나요?</span>
                        <span class="auth-divider">|</span>
                        <a href="{{ url_for('signup') }}" class="auth-link">신규 모험가 등록</a>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- TODO: [이정욱] 로그인 AJAX 처리를 위한 JS 파일 연결 -->
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>

</html>