<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>RPG MBTI - 신규 모험가 등록</title>
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body class="auth-body">
    <main>
        <section>
            <div class="auth-wrapper">
                <form class="auth-card reveal is-visible" id="signup-form" method="POST">
                    <div class="auth-header">
                        <h2 class="auth-title">회원가입</h2>
                    </div>
                    <label for="user-id">아이디 (<span>ID</span>)</label>
                    <input type="text" id="user-id" name="username" placeholder="영문/숫자 조합 입력 . . ." autofocus=""
                        class="auth-input" value="" required>
                    <label for="password">비밀번호 (<span>PW</span>)</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호 입력 . . ." class="auth-input"
                        value="" required>
                    <label for="confirm_password">비밀번호 확인</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="비밀번호 다시 입력 . . ."
                        class="auth-input" value="" required>
                    <label for="nickname">모험가 이름 (<span>닉네임</span>)</label>
                    <input type="text" id="nickname" name="nickname" placeholder="사용할 닉네임 입력 . . ." class="auth-input"
                        value="" required>
                    <button type="submit" class="auth-submit">길드 등록</button>

                    <div id="error-message" class="auth-error {% if not error_msg %}hidden{% endif %}">
                        {{ error_msg if error_msg else '' }}
                    </div>

                    <div class="auth-footer">
                        <a href="/" class="auth-link">로그인으로 돌아가기</a>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- TODO: [이정욱] 회원가입 AJAX 처리를 위한 JS 파일 연결 -->
    <script src="/static/js/auth.js"></script>
</body>

</html>